@import "tailwindcss";
:root {
  --main-color: #e2ae63;
  --red-color: #f54748;
}
body {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
/* Colors */
.bg-main {
  background-color: var(--main-color);
}
.text-main {
  color: var(--main-color);
}
.desc-color {
  color: #545454;
}
.hent-color {
  color: #b0b0b0;
}
.text-red {
  color: var(--red-color);
}
/* Colors */
.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
[dir="rtl"] .dir-rotate {
  transform: rotate(180deg);
}
.img-fit img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
input,
textarea {
  outline: none;
}
.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
